*.csv
IMG/
cleaning/
Experimentos/
Plots/
*.pkl
.DS_Store
.ipynb_checkpoints/
.RData
.Rhistory
.Rproj.user/
R/TDA-Finance/R.Data
R/TDA-Finance/R.history
R/TDA-Finance/BTC.zoo
R/TDA-Finance/LICENSE
R/TDA-Finance/README.md
*.eps
*.Rproj
BTC_dendograma.png

*.pdf

R/TDA/1.png

R/TDA/crash2021.png
